---
apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: Generic Jenkins Agent Template
  annotations:
    openshift.io/display-name: Generic Jenkins Agent Build Template
    description: "Generic build pod template pre-configured to use a jenkins agent in the
      same project/namespace"
objects:
{% if jenkins_agents is defined %}
{% for agent, params in jenkins_agents.build.items() %}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      build: {{ params.NAME | d('jenkins-agent-' + agent) }}
      role: jenkins-slave
    name: {{ params.NAME | d('jenkins-agent-' + agent) }}
- apiVersion: build.openshift.io/v1
  kind: BuildConfig
  metadata:
    labels:
      build: {{ params.NAME | d('jenkins-agent-' + agent) }}
      type: image
    name: {{ params.NAME | d('jenkins-agent-' + agent) }}
  spec:
    nodeSelector:
    output:
      to:
        kind: ImageStreamTag
        name: {{ params.NAME | d('jenkins-agent-' + agent) }}:{{ params.SLAVE_IMAGE_TAG | d('latest') }}
    postCommit: {}
    resources: {}
    runPolicy: Serial
    source:
      contextDir: {{ params.SOURCE_CONTEXT_DIR | d('jenkins-agents/jenkins-agent-' + agent) }}
      git:
        ref: {{ params.SOURCE_REPOSITORY_REF | d(agent_repo_ref) | d('master') }}
        uri: {{ params.SOURCE_REPOSITORY_URL | d(repository_url) | d('https://gitlab.com/facundo_ingenia/container-quickstarts') }}
      type: Git
    strategy:
      dockerStrategy:
        dockerfilePath: {{ params.DOCKERFILE_PATH | d('Dockerfile') }}
{% if params.BUILDER_IMAGE_NAME is defined %}
        from:
          kind: DockerImage
          name: {{ params.BUILDER_IMAGE_NAME }}
          imagePullPolicy: Always
{% endif %}
      type: Docker
    triggers:
    - type: ConfigChange
    - type: ImageChange
{% endfor %}
{% endif %}
...
